[submodule "data/legacy-crosswalk/far"]
	path = data/legacy-crosswalk/far
	url = https://github.com/GSA/GSA-Acquisition-FAR.git
[submodule "data/legacy-crosswalk/dfars"]
	path = data/legacy-crosswalk/dfars
	url = https://github.com/GSA/GSA-Acquisition-DFARS.git
